*{
    padding:10px;
}
#your-data{
    color: red;
}
.para-text{
    color: blue;
}

.values{
    border: 0px solid #444;
}
.button-template {
    border: 2px solid #000;
    padding: 10px 10px 10px 10px;
    /* width: -webkit-fill-available; */
    width: 25%;
    text-align: justify;
};

#msg-temp p{
    color: red;
    position: relative;
    margin-top: auto;
}
.action-text {
    padding: 10px 20px;  /* Space around the text */
    text-align: center;   /* Center the text inside */
    font-size: 16px;      /* Text size */
    cursor: pointer;      /* Change cursor on hover */
    transition: background-color 0.3s ease;  /* Smooth transition */
    user-select: none;     /*Prevent text selection */
}
.disabled {
    color: #aaa;             /* Light gray text */
    cursor: not-allowed;     /* Show not-allowed cursor */
}